html, body{
    height: 100%;
    margin-bottom: 20px;
}

.page-header{
    margin-top: 0px;
}

input{
    display: block;
    margin: 10px;
}

.margin0{
    margin: 0;
}

.page-wrap {
    min-height: 80%;
    /* equal to footer height */
    margin-bottom: -60px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 60px;
}
.site-footer {
    padding-top: 15px;
    border-top: 1px solid #dcdcdc;
}

.wordwrap{
    word-wrap: break-word;
}

.link{
    color: #1b8efa;
}

.text-editor{
    width: 700px;
    height: 300px;
}